# 演習問題2

2020年までの台風の発生数をCSVファイルにしてあります。このファイルを読み込んで以下の2つのDataFrameを作ってください。

1. 年間の発生数の多い年から順に並べ替えてください。
2. 各月毎に平均の発生数、最大発生数とそれが何年かを示す表を作ってください。  
列名は'月'、'平均'、'最大発生数'、'発生年'
行は1月から12月まで  
とします。

In [5]:
import pandas as pd

df_csv = pd.read_csv('generation.csv', encoding='shift_jis')
df_csv

       年   1月   2月   3月   4月   5月   6月   7月  8月  9月  10月  11月  12月  年間
0   1951  NaN  1.0  1.0  2.0  1.0  1.0  3.0   3   2    4  1.0  2.0  21
1   1952  NaN  NaN  NaN  NaN  NaN  3.0  3.0   5   3    6  3.0  4.0  27
2   1953  NaN  1.0  NaN  NaN  1.0  2.0  1.0   6   3    5  3.0  1.0  23
3   1954  NaN  NaN  1.0  NaN  1.0  NaN  1.0   5   5    4  3.0  1.0  21
4   1955  1.0  1.0  1.0  1.0  NaN  2.0  7.0   6   4    3  1.0  1.0  28
..   ...  ...  ...  ...  ...  ...  ...  ...  ..  ..  ...  ...  ...  ..
65  2016  NaN  NaN  NaN  NaN  NaN  NaN  4.0   7   7    4  3.0  1.0  26
66  2017  NaN  NaN  NaN  1.0  NaN  1.0  8.0   6   3    3  3.0  2.0  27
67  2018  1.0  1.0  1.0  NaN  NaN  4.0  5.0   9   4    1  3.0  NaN  29
68  2019  1.0  1.0  NaN  NaN  NaN  1.0  4.0   5   6    4  6.0  1.0  29
69  2020  NaN  NaN  NaN  NaN  1.0  1.0  NaN   8   3    6  3.0  1.0  23

[70 rows x 14 columns]

In [30]:
# 欠損値を0で穴埋め
df_filled = df_csv.fillna(0)

# 要素を整数にそろえておく
df_int = df_filled.astype('int')
df_int

       年  1月  2月  3月  4月  5月  6月  7月  8月  9月  10月  11月  12月  年間
0   1951   0   1   1   2   1   1   3   3   2    4    1    2  21
1   1952   0   0   0   0   0   3   3   5   3    6    3    4  27
2   1953   0   1   0   0   1   2   1   6   3    5    3    1  23
3   1954   0   0   1   0   1   0   1   5   5    4    3    1  21
4   1955   1   1   1   1   0   2   7   6   4    3    1    1  28
..   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ..
65  2016   0   0   0   0   0   0   4   7   7    4    3    1  26
66  2017   0   0   0   1   0   1   8   6   3    3    3    2  27
67  2018   1   1   1   0   0   4   5   9   4    1    3    0  29
68  2019   1   1   0   0   0   1   4   5   6    4    6    1  29
69  2020   0   0   0   0   1   1   0   8   3    6    3    1  23

[70 rows x 14 columns]

In [31]:

# '年間' で降順にソート
df_sorted = df_int.sort_values(by='年間', ascending=False)
df_sorted

       年  1月  2月  3月  4月  5月  6月  7月  8月  9月  10月  11月  12月  年間
16  1967   0   1   2   1   1   1   7   9   9    4    3    1  39
43  1994   0   0   0   1   1   2   7   9   8    6    0    2  36
20  1971   1   0   1   3   4   2   8   5   6    4    2    0  36
15  1966   0   0   0   1   2   1   4  10   9    5    2    1  35
13  1964   0   0   0   0   2   2   7   5   6    5    6    1  34
..   ...  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...  ..
52  2003   1   0   0   1   2   2   2   5   3    3    2    0  21
0   1951   0   1   1   2   1   1   3   3   2    4    1    2  21
18  1969   1   0   1   1   0   0   3   4   3    3    2    1  19
47  1998   0   0   0   0   0   0   1   3   5    2    3    2  16
59  2010   0   0   1   0   0   0   2   5   4    2    0    0  14

[70 rows x 14 columns]

In [37]:
# 月名をリストにしておく
month_list = [str(n) + '月' for n in range(1, 13)]
month_list

['1月', '2月', '3月', '4月', '5月', '6月', '7月', '8月', '9月', '10月', '11月', '12月']

In [38]:
# 月部分だけDataFrame にする
df_month = df_int[month_list]
df_month

    1月  2月  3月  4月  5月  6月  7月  8月  9月  10月  11月  12月
0    0   1   1   2   1   1   3   3   2    4    1    2
1    0   0   0   0   0   3   3   5   3    6    3    4
2    0   1   0   0   1   2   1   6   3    5    3    1
3    0   0   1   0   1   0   1   5   5    4    3    1
4    1   1   1   1   0   2   7   6   4    3    1    1
..  ..  ..  ..  ..  ..  ..  ..  ..  ..  ...  ...  ...
65   0   0   0   0   0   0   4   7   7    4    3    1
66   0   0   0   1   0   1   8   6   3    3    3    2
67   1   1   1   0   0   4   5   9   4    1    3    0
68   1   1   0   0   0   1   4   5   6    4    6    1
69   0   0   0   0   1   1   0   8   3    6    3    1

[70 rows x 12 columns]

In [39]:
# 月毎の平均
s_mean = df_month.mean()
s_mean

1月     0.442857
2月     0.257143
3月     0.385714
4月     0.685714
5月     1.000000
6月     1.771429
7月     3.857143
8月     5.571429
9月     4.914286
10月    3.757143
11月    2.400000
12月    1.157143
dtype: float64

In [41]:
# 月ごとの最大値
s_max = df_month.max()
s_max

1月      2
2月      1
3月      3
4月      3
5月      4
6月      5
7月      8
8月     10
9月      9
10月     7
11月     6
12月     4
dtype: int64

In [42]:
# 最大値の年
s_idxmax = df_month.idxmax()
s_year = df_int.loc[s_idxmax, '年']
s_year

6     1957
0     1951
31    1982
20    1971
20    1971
53    2004
20    1971
9     1960
15    1966
33    1984
13    1964
1     1952
Name: 年, dtype: int64

In [19]:
# 新しいDataFrameを作る
df_summary = pd.DataFrame([month_list, s_mean.values, s_max.values, s_year.values]).T
df_summary.columns=['月', '平均', '最大発生数', '発生年']
df_summary

      月        平均 最大発生数   発生年
0    1月  0.442857     2  1957
1    2月  0.257143     1  1951
2    3月  0.385714     3  1982
3    4月  0.685714     3  1971
4    5月       1.0     4  1971
5    6月  1.771429     5  2004
6    7月  3.857143     8  1971
7    8月  5.571429    10  1960
8    9月  4.914286     9  1966
9   10月  3.757143     7  1984
10  11月       2.4     6  1964
11  12月  1.157143     4  1952